@import url("https://fonts.cdnfonts.com/css/post-no-bills-jaffna");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: black;
  color: #FFFFFF;
}

.wrapper {
  overflow: hidden;
  height: 100%;
}

/*_____________________MODIFICATION________________________*/
.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}

.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.title::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -60px;
}

.title-bold {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.title-bold::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -60px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #FFFFFF;
}

.ibg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.watch {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.watch__card {
  margin: 0 25px 40px;
}
.watch__img {
  background-color: #191B1C;
  width: 260px;
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.watch__text div:nth-child(1) {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
.watch__text div:nth-child(2) {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.watch a {
  color: #FFFFFF;
  text-decoration: none;
}

/*_______________________TOP-LINE__________________________*/
.header {
  width: 100%;
  background-color: black;
}

.top-line {
  position: relative;
  z-index: 5;
  overflow: hidden;
  height: 44px;
  margin: 0 auto;
  background-color: black;
}
.top-line__row {
  position: relative;
  z-index: 5;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.top-line__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.top-line__text {
  line-height: 20px;
  font-size: 12px;
  color: gray;
}
.top-line__icon-phone {
  margin-right: 16.31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line__icon-input {
  padding: 0 7px 0 0;
  margin: 0 14.33px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*_______________________MENU-LINE_________________________*/
.menu-line {
  padding: 0 0 0 11px;
  position: relative;
  background-color: #0F0F0F;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
}
.menu-line__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.menu-line__logo {
  padding-top: 6px;
  font-family: "Post No Bills Jaffna", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
}
.menu-line__burger {
  display: none;
}
.menu-line__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.menu-line__link {
  display: block;
  line-height: 80px;
  text-decoration: none;
  font-size: 14px;
  color: #969696;
  text-transform: uppercase;
}
.menu-line__link:hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.menu-line .container {
  padding: 0;
  max-width: 1132px;
}
.menu-line__likes {
  padding: 0 18px 0 20px;
}
.menu-line__cabinet {
  padding: 0 17px;
}
.menu-line__setting {
  padding: 0 16px 0 12px;
}
.menu-line__basket {
  padding: 0 22px 0 17.83px;
}
.menu-line__search {
  padding: 0 22px;
}
.menu-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
  z-index: 2;
}

.container {
  margin: 0 auto;
}

/*______________________PORTEN_LOGO_________________________*/
.porten-logo {
  margin: 0 auto 0;
  height: 810px;
  max-width: 1920px;
  background: url(../img/Rectangle_3.jpg) center/cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.porten-logo__logo {
  margin: 160px auto 80px;
  width: 320px;
  height: 320px;
  border: 4px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.porten-logo__porten {
  margin: 89px 0 0;
  font-family: "Post No Bills Jaffna", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.porten-logo__porten::after {
  content: "";
  width: 179px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 14px;
  left: 50%;
  margin-left: -89.5px;
}
.porten-logo__text-logo {
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
.porten-logo__text {
  padding: 0 5px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 150%;
  max-width: 730px;
  height: 96px;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

/*______________________SEASON2021-22_______________________*/
.season2021-22 {
  margin: 0 auto;
  max-width: 1920px;
  height: 730px;
}
.season2021-22__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.season2021-22__column1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.season2021-22__column2 {
  height: 730px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45.833%;
          flex: 1 1 45.833%;
  background: url(../img/Rectangle_8.jpg) center/cover no-repeat;
}
.season2021-22__title {
  margin: 93px auto 50px;
  padding-bottom: 50px;
  position: relative;
}
.season2021-22__title2 {
  line-height: 39px;
  padding-bottom: 30px;
  margin: 484px auto 30px;
  position: relative;
}
.season2021-22__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

/*______________________COLLECTION2018______________________*/
.collection2018 {
  height: 600px;
}
.collection2018__row {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collection2018__column1 {
  height: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 48.75%;
          flex: 1 0 48.75%;
}
.collection2018__column2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 51.25%;
          flex: 1 0 51.25%;
}
.collection2018__title {
  margin: 100px 0 40px;
  padding-bottom: 40px;
  position: relative;
}
.collection2018__text {
  padding: 0 10px;
  height: 172px;
  text-align: center;
  max-width: 628px;
  margin: 0 auto 64px;
}
.collection2018__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 98px;
}

/*_____________________WATCH-BLOCK__________________________*/
.watch-block {
  height: 1289px;
}
.watch-block__title {
  margin: 0 0 81.5px;
  position: relative;
  padding: 120px 0 40.5px;
}
.watch-block__watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.watch-block__item {
  margin: 0 11.5px 40px;
}
.watch-block__card {
  position: relative;
}
.watch-block__last-watch {
  background: url(../img/watch/watch_3.png) center no-repeat #191B1C;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-color: #191B1C;
  width: 260px;
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.watch-block__last-watch-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 27, 28, 0.5);
}
.watch-block__link {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -98.72px;
  margin-top: -24.5px;
}
.watch-block .watch {
  margin: 0 -11.5px;
}
.watch-block .watch__card {
  position: relative;
  margin: 0 11.5px 40px;
}

/*______________________ARTICLES____________________________*/
.articles {
  background-color: #0F0F0F;
  height: 1582px;
}
.articles__title {
  padding: 63.32px 0 36.56px;
  margin-bottom: 56.97px;
  line-height: 48.16px;
  position: relative;
}
.articles__content {
  max-width: 1920px;
  margin: 0 auto;
}
.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
.articles__item:first-child {
  margin-bottom: 30px;
}
.articles__item:last-child {
  margin-bottom: 0;
}
.articles__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.56%;
          flex: 0 1 51.56%;
  height: 437px;
}
.articles__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48.44%;
          flex: 1 1 48.44%;
  margin: 0 50px 0 145px;
  max-width: 628px;
}
.articles__lable {
  margin: 53px 0 14px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.articles__text {
  margin-bottom: 51px;
}
.articles__button-tag {
  height: 47px;
  position: relative;
}
.articles__hashtag {
  position: absolute;
  top: 12px;
  right: 0;
  line-height: 23px;
  max-width: 50%;
  text-align: right;
}
.articles__hashtag:last-child {
  max-width: 70%;
}

/*_______________________PARTNERS___________________________*/
.partners {
  background-color: #0F0F0F;
  height: 541px;
}
.partners__title {
  padding: 92px 0 44px;
}
.partners__container {
  height: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.partners__image {
  padding: 0 15px;
}
.partners__image img {
  width: 100%;
  height: 100%;
}
.partners__coco {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.partners__rolex {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.partners__berguet {
  -webkit-transform: translateY(-19.5px);
      -ms-transform: translateY(-19.5px);
          transform: translateY(-19.5px);
}
.partners__haven {
  -webkit-transform: translateY(-11px);
      -ms-transform: translateY(-11px);
          transform: translateY(-11px);
}

/*_____________________ABOUT-COMPANY________________________*/
.about-company {
  background-color: #0F0F0F;
  height: 450px;
  background: url(../img/Rectangle_15.png) center/cover no-repeat;
}
.about-company__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-company__column {
  max-width: 350px;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}
.about-company__column:nth-child(2) {
  padding: 0 30px;
}
.about-company__title {
  margin: 80px 0 40px;
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
.about-company__text {
  margin-bottom: 26px;
}
.about-company__text2 {
  max-width: 351px;
}
.about-company__link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 21px;
  color: #D0D0D0;
  background-color: #0F0F0F;
  text-decoration: none;
  margin: 0 0 20px 1px;
}
.about-company__textarea {
  padding-right: 15px;
  position: relative;
}
.about-company__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
  margin: 0;
  border: 0;
  color: #D0D0D0;
}
.about-company__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  padding-left: 16px;
}
.about-company__input::-moz-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  padding-left: 16px;
}
.about-company__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  padding-left: 16px;
}
.about-company__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  padding-left: 16px;
}
.about-company__input::placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  padding-left: 16px;
}
.about-company__button {
  line-height: 21px;
  position: absolute;
  right: 2;
  bottom: 0;
  margin: 0;
}

/*_____________________BOTTOM_LINE__________________________*/
.footer {
  background-color: #0F0F0F;
  height: 50px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__porten {
  max-width: 65%;
  font-size: 12px;
}
.footer__link {
  line-height: 50px;
  font-size: 12px;
  color: #D0D0D0;
}